.body-content {
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1026px) {
  .body-content {
    width: 94vw;
    margin-top: 55px;
  }
}

.jump-to-map-btn {
  background-color: #79B996;
  color: black;
  font-weight: 400;
  margin-bottom: 15px;
}

.jump-to-map-btn:hover {
  background-color: #6faa89;  /* TODO: Exctract this into common COLORS constant to match other buttons (e.g. contact page btn) */
}

