.carousel {
  max-width: 60vw;
  float: center;
  border-radius: 2px;
  filter: brightness(55%);
  z-index: 0;
}

@media only screen and (max-width: 1026px) {
  .carousel {
    max-width: 94vw;
  }
}

Slide {
  max-width: 60vw;
  width: 60vw;
}
